:root{
  --main-color:#00df89;
  --hover-color:#883765;
  --font-color:white;
  --active-color:#f15678;
}

*{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}
header{
  width: 100%;
}

nav{
  width: 75%;
  margin: 0 auto;
}

nav ul{
  display: table;
  width: 100%;
}

nav ul li{
  display: table-cell;
  width: 25%;
  height: 5vh;
}

nav ul li a{
  display: block;
  text-align: center;
  height: 100%;
}

nav ul li a:hover{
  background-color: var(--hover-color);
  color: var(--main-color);
  color:white;
  height: 100%;
}

.active{
  background-color: var(--active-color);
}

@media screen and (max-widht:411px) {
  body{
    
  }

  nav ul li{
    display: list-item;
  }
}